<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Fonts provided by application</key>
	<array>
		<string>SFUIDisplay-Regular.ttf</string>
		<string>Raleway-Black.ttf</string>
		<string>SFUIText-Light.ttf</string>
		<string>SFUIText-Medium.ttf</string>
		<string>OpenSans-Bold.ttf</string>
		<string>OpenSans-BoldItalic.ttf</string>
		<string>OpenSans-ExtraBold.ttf</string>
		<string>OpenSans-ExtraBoldItalic.ttf</string>
		<string>OpenSans-Italic.ttf</string>
		<string>OpenSans-Light.ttf</string>
		<string>OpenSans-LightItalic.ttf</string>
		<string>OpenSans-Regular.ttf</string>
		<string>OpenSans-Semibold.ttf</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>OpenSans-Bold.ttf</string>
		<string>OpenSans-BoldItalic.ttf</string>
		<string>OpenSans-ExtraBold.ttf</string>
		<string>OpenSans-ExtraBoldItalic.ttf</string>
		<string>OpenSans-Italic.ttf</string>
		<string>OpenSans-Light.ttf</string>
		<string>OpenSans-LightItalic.ttf</string>
		<string>OpenSans-Regular.ttf</string>
		<string>OpenSans-Semibold.ttf</string>
		<string>open-sans/OpenSans-SemiboldItalic.ttf</string>
		<string>Raleway-SemiBold.ttf</string>
		<string>Raleway-Bold.ttf</string>
		<string>open-sans/OpenSans-Bold.ttf</string>
		<string>open-sans/OpenSans-BoldItalic.ttf</string>
		<string>open-sans/OpenSans-ExtraBold.ttf</string>
		<string>open-sans/OpenSans-ExtraBoldItalic.ttf</string>
		<string>open-sans/OpenSans-Italic.ttf</string>
		<string>open-sans/OpenSans-Light.ttf</string>
		<string>open-sans/OpenSans-LightItalic.ttf</string>
		<string>open-sans/OpenSans-Regular.ttf</string>
		<string>open-sans/OpenSans-Semibold.ttf</string>
		<string>open-sans/OpenSans-SemiboldItalic.ttf</string>
		<string>raleway/Raleway-SemiBold.ttf</string>
		<string>raleway/Raleway-Bold.ttf</string>
		<string>SFUIText-Light.ttf</string>
		<string>SFUIText-Medium.ttf</string>
		<string>SFUIDisplay-Regular.ttf</string>
	</array>
	<key>CFBundleDisplayName</key>
	<string>VirtualEvent</string>
	<key>CFBundleName</key>
	<string>VirtualEvent</string>
	<key>CFBundleIdentifier</key>
	<string>com.techahead.virtualevent</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>8.0</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIMainStoryboardFile~ipad</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>CFBundleTypeName</string>
		</dict>
	</array>
	<key>XSLaunchImageAssets</key>
	<string>Assets.xcassets/LaunchImage.launchimage</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb822879767861537</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLTypes</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.678528929935-6l8rslm6f3jnkkqd3t11pvdcphi20jg5</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLTypes</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.techahead.virtualevent</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
